@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
}

html, body {
    margin: 0;
    padding: 0;
    
}

body{
    height: 100vh;
    background-image:url(../image/pic.png);
    background-repeat:no-repeat ;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    font-family: "Playfair", serif;
    
    
}

.loading-page{
    position: absolute;
    top:0;
    left: 0;
    background: linear-gradient(-45deg, #3F0079, #701303, #BB129F, #23211f, #d840b6);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background-size: 400% 400%;
    animation: bg 12s ease infinite;  

}

#SVG{
    height: 150px;
    width: 150px;
    stroke: #F8F3D9;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s  ease;

}
    
@keyframes draw { 0% {
    stroke-dashoffset: 4500;

}100%{
    stroke-dashoffset: 0;
}
    
} 

.container {
   width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    background-color: #00000090;

}

.intro {
    min-height: 100vh;
    display: flex;
    max-width: 800px;;
    font-size: 25px;
     padding: 20px;
     align-items: center;  
     justify-content: center; 
     color: #faedcd;
     flex-direction: column;
}

.intro button{
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    background-color: #d4a373;
    max-width: fit-content;
    border: 0;

    
}


.intro button a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
}
.intro button:hover{
    background-color: #d2761a;
    transform: scale(1.05s);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);

}


.Scroll{
    border: 0;
    box-shadow: none;
    
}

#scrollBtn{
    cursor: pointer;
    position: relative;
    bottom: -160px;
    background-color: #00000000;
    font-weight: 700;
    font-size: 25px;
    color: rgb(233, 212, 165);
    margin: 0;
    padding: 0;
    display: inline-block;
    border-bottom: 2px solid;
    left: 100%;
        
}
#scrollBtn svg{
    width: 20px;
    height: 20px;
    fill: rgb(233, 212, 165);

}



.about-me {
   margin-top: 80px;
    width:100%;
    padding: 30px;
    color: #faedcd;
    border-radius: 15px;
    line-height: 1.7;
     background: linear-gradient(-45deg, #3F0079, #701303, #BB129F, #23211f, #d840b6);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
    font-size: 20px;

}

.about-me h1{
    color: #d4a373;
}
.works{
    width: 100%;
    padding: 20px;
    color: #151515db;
    border: 1px solid;
    background-color: #e9edc9;
    line-height: 1.7;
    border-radius: 5px;
    font-size: 15px;


}

.works-info{
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.works-info h1{
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;

}

.works-info p{
    font-size: 1rem;
    font-family: sans-serif;
    align-items: right  ;
    justify-content: right;
}



.works{
    width: 100%;
    padding: 40px 20px;
    background-color: #e9edc9;
    border-radius: 5px;
}

.works h1{
    text-align: center;
    margin-bottom: 30px;
    color: #151515db;
}

.works-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 30px;
    max-width: 1200px;  
    margin: auto;
}


.work-card{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    transition: transform .3s, box-shadow .3s;
}


.work-card img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
}




.learnmore p{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: #15151570;
    transition: color 0.3s ease;
    padding: 5px;
    font-size: 20px;
    margin-top: 50px;
    

}

#hover-svg{
    width: 18px;
    height: 18px;
    fill: #151515;
}

.learnmore p:hover{
  color: #151515eb;
  animation: heartbeat 0.8s infinite;

}

.learnmore p:hover #icons-svg{
  fill: #151515eb;
  animation: heartbeat 0.8s infinite;

}
@keyframes heartbeat {
  0%   { transform: scale(1); }
  25%  { transform: scale(1.15); }
  40%  { transform: scale(1); }
  60%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}
#hover-svg{
     height: 25px;
    width: 25px;
    fill: #000000a8;
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;
}

.slide-under{
    position: relative;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #000000b8;

}

.slide-under::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
transition: transform 0.35s cubic-bezier(.4,0,.2,1);

}

.slide-under:hover::after{
    transform: scaleX(1);
}


@media (max-width: 768px){
    .content-row{
        flex-direction: column;
        text-align: center;
    }

    #pic-info img{
        width: 100%;
        max-width: 300px;
    }
}


.contact-section{
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 40px;
background: linear-gradient(-45deg, #3F0079, #701303, #BB129F, #23211f, #d840b6);
background-size: 400% 400%;
animation: bg 12s ease infinite;
font-size: 15px;

}
@keyframes bg{
    0%{
background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;}
        100%{
            background-position: 0% 50%;
}
}

.contact-form, 
.contact-info {
    flex: 1;

}

.contact-form h2{
    position: relative;
    align-items: center;
    margin-bottom: 20px;
    color: #d4a373;
}
.contact-form h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
transition: transform 0.35s cubic-bezier(.4,0,.2,1);

}

.contact-form h2:hover::after{
    transform: scaleX(1);
}


.contact-form input,
.contact-form textarea 
{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border:none;
   display: flex;
    padding: 10px;



}

.contact-form button{
    padding: 8px 15px;
    background-color: #908e89;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.contact-info{
    display: flex;  
    justify-content: center;
    flex-direction: column;


}

.contact-info p {
    display: flex;
    border-bottom: 2px solid;
    padding: 10px 0;
    font-size: 20px;
    justify-content: left;
    align-items: left;
    margin-bottom: 1rem;
    color: rgb(233, 212, 165);
}

.contact-info p strong{
    margin-top: 0;
    padding: 5px;
}
.contact-form button{
    padding: 8px 15px;
    background-color: #908e89;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.contact-form button:hover{
    background-color: #686868;
    transform: scale(1.05s);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
}
#footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    align-items: center;
    box-sizing: border-box;
    background-color: #151515;
    flex-direction: column;
}

.Copyright{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
}


#footer .Copyright{
    font-size: 0.8rem;
    letter-spacing: .1rem;
    padding: 0;
    
}

#footer .Copyright li:first-child{
    border: 0;
    margin-left: 0;

}

#footer .Copyright li{
    border-left: 1px solid #979797c0;
    display: inline-block;
    line-height: 1rem;
    padding-left: 1rem;
    color: #979797c0;
 
}

#footer .social-icons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

}


#icon-svg{
    height: 25px;
    width: 25px;
    fill: #979797c0;
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;


}

#icons-svg{
    height: 10px;
    width: 10px;
    fill: #979797c0;
    cursor: pointer;
    transition: transform 0.2s ease, fill 0.2s ease;
    

}

.name-container{
    height: 20;
    overflow: hidden;

}



.logo-name {
    color: #eff;
    font-size: 20px;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-left: 20px;

}

.navbar{
    display: flex ;
    justify-content: space-between;
    position:fixed;
    align-items: center;
    padding: 5px 20px;
   background-color: rgba(50, 70, 87, 0.37);
    z-index: 1000;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e9edc9;
    top: 0;
    left: 0;
}

.logo #svg{
    height: 50px;
    width: 50px;
    stroke: #ede3d3;
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: draw 8s  ease;

    
}
.navbar .nav-list {
    list-style:none;
    display: flex;
    
}

.navbar .nav-list li{
    margin-left: 25px;

    

}

.navbar .nav-list li a {
    color: #ede3d3;
    text-decoration: none;
    font-size: medium;
    padding: 8px 12px;
    transition: background 0.3s;
    border-radius: 5px;
}

.navbar .nav-list li a:hover{
    background-color: #e9edc951;

}

.menu-toggle {
    display:none;
    font-size: 28px;
    color: #ede3d3;
    cursor: pointer;
}

@media (max-width: 768px){
    .menu-toggle {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        position:fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        background-color: #151515;
        transition: left 0.3s;
       
    }

    .nav-list.active{
        left: 0;

    }

    .nav-list li {
    text-align: center; 
    margin: 15px 0;
    
}
}


/*workspage*/

.bh2{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #d4a373;
    
   
}

.bh2 h2{
    position: relative;
    top: 200px;
    font-size: 95px;
}

.workspage{
    width: 100%;
    padding: 80px;
    margin: 50vh auto 80px;
    margin-bottom: 0;
    border: 1px solid;
    background: linear-gradient(-45deg, #3F0079, #701303, #BB129F, #23211f, #d840b6); 
    font-size: 15px;
    background-size: 300%;
    animation: bg 12s ease infinite;
 
}
.workspage-info{
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #1a1a1a8a;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
}
.workspage-info h2{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    color: #d4a373;
    
}

.workspage-info h4{
    color: #d4a373;
    padding: 20px;
    width: 100%;
    max-width: fit-content;
    margin-bottom: 25px;
    flex-direction: column;
    position: relative;

}

.workspage-info p{
    color: #ede3d3;
    margin: 15px;
}

.workspage-info ul{
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.workspage-info ul li{
    flex:1;
    color: #ccc;
    font-family: b;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.workspage-info ul img{
    width: 100%;
    height: auto;

}

.workspage-info ul button{
    padding: 8px 15px;
    background-color: #908e89;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.3s ease;
    margin-top: 15px ;
    

} 

.workspage-info ul button:hover{
    background-color: #686868;
    transform: scale(1.05s);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);

}


.whyme {
    width: 100%;
    background-color: #e9edc9;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.why-info {
    max-width: 1200px;
    width: 100%;
}

.why-info h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #151515;
}

.lists-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
}

.why-info ul {
    list-style: none;
    padding: 0;
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why-info li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;

    height: 100%;         
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.why-info li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}


.works-end{
    padding: 80px;
    border: 1px solid;
    background-color: #979797c0;
    font-size: 20px;
}

.end{
    align-items:center;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.end button{
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    background-color: #d4a373;
    max-width: fit-content;
    border: 0;

    
}


.end button a{
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;

}
.end button:hover{
    background-color: #d2761a;
    transform: scale(1.05s);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);

}


/*contactpage*/
.contactpage{
    padding: 10px 20px;
    width: 100%;
    background: linear-gradient(-45deg, #3F0079, #701303, #BB129F, #23211f, #d840b6);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0 ;
    animation: bg 12s ease infinite;
    background-size: 400% 400%;

    }

.cons{
    
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding-left: 50px;

}
.cons img{
    width: 800px;
    max-width: 100%;
}
.cons h1{
    max-width: 400px;
    color: #faedcd;
}
.contact{
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 40px;
}
@keyframes bg{
    0%{
background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;}
        100%{
            background-position: 0% 50%;
}
}

.contact-forms, 
.contact-info {
    flex: 1;

}

.contact-forms h2{
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 3px solid;
    display: inline-block;
    color: #d4a373;
}

.contact-forms input,
.contact-forms textarea 
{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border:none;
   display: flex;
    padding: 10px;
    color: #000000;



}

.contact-forms button{
    padding: 8px 15px;
    background-color: #908e89;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.contact-forms button:hover{
    background-color: #686868;
    transform: scale(1.05s);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 2);
}

.contact-info{
    display: flex;  
    justify-content: center;
    flex-direction: column;

}

.contact-info p {
    display: flex;
    border-bottom: 2px solid;
    padding: 10px 0;
    font-size: 20px;
    justify-content: left;
    align-items: left;
    margin-bottom: 1rem;
}

.contact-info p strong{
    margin-top: 0;
    padding: 5px;
}



